# Cloudflare Turnstile Public Site Key
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADtP3Zp-riDTCbMg
# --- Backend Secrets (Cloudflare Pages Dashboard Environment Variables) ---
TURNSTILE_SECRET=0x4AAAAAADtP3WGdQygX97GnT7E78TJcbos
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx6sbUiAGQYdium5j3u4VZ5X0oqGdPGZ48KjovZmUyaCn4AsMnVLaRl3B2cexizLraD/exec
